.s_N_update{
    border: 2px solid rgb(157, 157, 157);
    margin: 15px;
    width: auto;
    padding: 20px 10px;
    text-align: center;
    background-color: #c4c1c1;

}
.s_N_update_box{
    /* border: 2px solid red; */
    margin-top: 25px;
}

.s_N_update_box_box{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 20px;
}
.s_N_update_box_box h5{
    margin-right: 10px;

}
.s_N_update_box_box input{
    width: 40%;
    border: 2px solid black;
    border-radius: 10px;
    /* margin: 10px; */
    padding : 0px 10px;
}
.s_N_update_box textarea{
    border: 2px solid rgb(8, 8, 8);
    /* width: calc(100% -6em); */
    width: 50%;
    margin: 20px 0;
    padding: 5px;
    border-radius: 6px;
}
.s_N_update_box_box1{
    margin: 10px;

}
.s_N_update_box_box1 input{
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.s_N_update button {
    border: 2px solid rgb(3, 3, 3);
    font-size: 20px;
    border-radius: 10px;
    width: 5em;
    margin: 20px;
    background-color: rgb(83, 83, 128);
}



@media (max-width: 850px) {
    .s_N_update_box_box input{
        width: 60%;
        border: 2px solid black;
        border-radius: 10px;
        padding : 0px 10px;
    }
    .s_N_update_box textarea{
        width: 80%;
    }

    .s_N_update_box_box1 input{
        margin: 10px;
        border-radius: 5px;
        border: 2px solid black;
        width: 30%;
        /* padding: 0; */

    }
    .s_N_update_box_box h5{
        margin-right: 6px;
    
    }

}
@media (max-width: 500px) {

    .s_N_update_box_box1 label,.s_N_update_box_box1 input[type="file"] {
     display: block;
    }
    .s_N_update_box_box1 input{
        margin: 5px auto;
        width: 60%;
    }

}