.s_r_upload {
    border: 2px solid red;
    margin: 40px 15px;
    width: auto;
    text-align: center;
    background-color: #c4c1c1;

}
.s_r_upload_from{
    border: 2px solid red;
    margin: 30px auto;
    width: 60%;
    padding-top: 30px;
    border-radius: 10px;
    background-color: #999393;
}
.s_r_upload_from div{
    /* border: 2px solid red; */
    /* width: 100vw; */
}
.s_r_upload h3{
    margin-top: 30px;
}
.s_r_label{
    font-size: 20px;
    /* border: 2px solid red; */
    width: 48%;
    overflow: none;
    text-align: left;
    padding-left: 30px;
    
    /* text-wrap: nowrap; */
}

.s_r_upload_from div{
    margin:20px 0px;
}

.s_r_input{
    margin-left: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 15px;
    width: 49%;
    margin-right: 10px;
}
.s_f_number_box{
    display: flex;
    justify-content: center;

}
.s_f_input_num{
    margin-left: 10px;
    width: 80px;
    border-radius: 5px;
    border: none;
}

.s_r_button{
    border: 2px solid black;
    margin:20px 10px 40px 10px;
    background-color: #c3c1c1;
    font-size: 18px;
    
}

@media (max-width: 1147px) {
    .s_r_label{
        text-align: left;
        padding-left: 10px;
    }
    .s_r_label1{
        text-align: right;
        /* border: 2px solid red; */
    }
}
@media (max-width: 1012px) {
    .s_r_label1{
        text-align: left;
        /* border: 2px solid red; */
    }

}

@media (max-width: 905px) {
    .s_r_upload_from{
        width: 80%;

    }

}
@media (max-width: 675px) {
    .s_r_upload_from{
        width: 90%;
        /* font-size: 16px; */

    }
    .s_r_label{
        font-size: 18px;
        width: 80%;
    }
    .s_r_input{
        width: 80%;
        font-size: 18px;
    }
    .s_r_button{
        font-size: 14px;
    }
    .s_f_captcha h5{
        font-size: 18px;
    }
    .s_f_number_box h4{
        font-size: 18px;
    }
    .s_f_input_num{
        font-size: 15px;
        padding: 0 5px;
    }

}