
.s_result_upload{
    /* border: 2px solid red; */
    width: auto;
    height: auto;
    margin: 15px;
    margin-top: 30px;
    text-align: center;
    background-color: #c4c1c1;
    border-radius: 5px;
    padding-bottom: 20px;
}
.s_result_upload_from{
    /* border: 2px solid red; */
    width: 50%;
    margin: 20px auto;
    background-color: #a5a3a3;
    border-radius:10px ;
    padding-top: 20px;

}

.s_result_upload_from_box{
    margin: 10px 5px;
    /* border: 2px solid red; */
}
.s_result_upload_from_box_label{
    /* border: 2px solid red; */
    font-size: 18px;
    margin-right: 10px;
    width: 45%;
    text-align: left;
}
.s_result_upload_from_box_input{
    font-size: 18px;
    padding: 0px 10px;
    border-radius: 10px;
    border:2px solid black;
    width: 45%;
}
.s_result_upload_from_box_input_number{
    width: 45%;
    border: 2px solid black;
    border-radius: 10px;
    padding:0 10px;

}
.s_result_upload_check_me{
   display: flex;
   justify-content: center;
   margin: 20px 0;

}
.s_result_upload_check_me h5{
    font-size: 16px;
    /* margin: 20px 0; */
    margin-right: 10px;
}
.s_result_upload_check_me button{
    font-size: 14px;
    border: none;
    background-color: #a5a3a3;
    color: rgb(31, 31, 161);
}
.s_res_upload_btn{
    padding: 0 15px;
    border-radius: 20px;
    border: none;
    background-color: rgb(56, 50, 74);
    color: white;
    margin-bottom: 40px;
}


@media (max-width: 1000px) {
    .s_result_upload_from{
        width: 80%;
    }


}

@media (max-width: 600px) {
    .s_result_upload_from{
        width: 90%;
    }
    .s_result_upload_from_box_label{
        font-size: 15px;
    }
    .s_result_upload_from_box_input{
        font-size: 15px;
    }
    .s_result_upload_check_me h5{
        font-size: 12px;
        font-weight: normal;
    }
    .s_result_upload_check_me button{
        font-size: 12px;
    }
    
}

@media (max-width: 600px) {
    .s_result_upload_from_box_label{
        font-size: 13px;
    }

    .s_result_upload_from_box_input{
        font-size: 13px;
    }
    .s_result_upload_from_box_input_number{
        font-size: 13px;
    }
    .s_res_upload_btn{
        font-size: 14px;
    }
}